{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Liste of users</h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    User
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editor
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrator
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if "ROLE_ADMIN" not in user.roles %}
                                <div class="btn-group" role="group" aria-label="User Actions">
                                    <a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                                    
                                    {% if user.isBanned %}
                                        <a href="{{ path('admin_toggle_ban_user', {'id': user.id}) }}" class="btn btn-success btn-sm">Unban</a>
                                    {% else %}
                                        <a href="{{ path('admin_toggle_ban_user', {'id': user.id}) }}" class="btn btn-danger btn-sm">Ban</a>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if users is empty %}
            <p class="mt-3">Aucun utilisateur inscrit.</p>
        {% endif %}
    </div>
{% endblock %}
