{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if editMode %}
                    <h1 class="text-center mb-4">Edit Article</h1>
                {% else %}
                    <h1 class="text-center mb-4">Create Article</h1>
                {% endif %}

                {{ form_start(formArticle, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                <div class="form-group mt-5">
                    {{ form_row(formArticle.title, {'attr': {'class': 'form-control', 'placeholder': 'Title of the article', 'required': 'required'}}) }}
                </div>

                <div class="form-group mt-4">
                    {{ form_row(formArticle.category, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group mt-4">
                    {{ form_row(formArticle.content, {'attr': {'class': 'form-control', 'placeholder': 'Content of the article', 'required': 'required', 'rows': 5}}) }}
                </div>

                <div class="form-group mt-4">
                    {{ form_row(formArticle.image, {'attr': {'class': 'form-control', 'placeholder': 'URL of the image'}}) }}
                </div>

                {{ form_widget(formArticle) }}

                <div class="text-center mt-4"> 
                    <button type="submit" class="btn btn-success">
                        {% if editMode %}
                            Save Changes
                        {% else %}
                            Add Article
                        {% endif %}
                    </button>
                </div>

                {{ form_end(formArticle) }}
            </div>
        </div>
    </div>
{% endblock %}
